.expenses-container {
  display: flex;
  margin-top: 10px;
}

.expenses-container h3 {
  margin: 0;
}

.expenses-content {
  width: 60%;
}

.expenses-list {
  list-style-type: none;
  padding: 0;
  margin-right: 10px;
}

.expenses-list li {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
}

.expenses-form-container {
  width: 40%;
}

.add-expense-form {
  height: auto;
}

.expense-form-control {
  margin: 8px 0;
  gap: 5px;
}
