.expenses-container {
  display: flex;
  margin-top: 10px;
}

.expenses-container h3 {
  margin: 0;
}

.expenses-history {
  width: 60%;
}

.expenses-history ul {
  list-style-type: none;
  padding: 0;
  margin-right: 10px;
}

.expenses-history ul li {
  display: flex;
  background-color: #fff;
  border-left: solid #0083B0 2px;
  padding: 10px;
  margin: 10px 0;
  justify-content: space-between;
}

.expenses-form-container {
  width: 40%;
}

.add-expense-form {
  height: auto;
}

.expense-form-control {
  margin: 8px 0;
  gap: 5px;
}
