.expenses-container {
  display: flex;
  margin-top: 10px;
}

.expenses-container h3 {
  margin: 0;
}

.expenses-history {
  width: 60%;
}

.expenses-history ul {
  margin-right: 10px;
}

.expenses-form-container {
  width: 40%;
}

.add-expense-form {
  height: auto;
}

.expense-form-control {
  margin: 8px 0;
  gap: 5px;
}
